In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import warnings as w
import datetime

## Cleaning

### Cleaning China African Trade Data 1992 - 2018

In [2]:
Exp_China_Africa = 'China-africa trade Data 1992-2018.xlsx'

col_string = "A:BC"

Exp_zh_af_df = pd.read_excel(Exp_China_Africa, skiprows=1, skipfooter = 6, sheet_name = 0, usecols=col_string, parse_dates=['Year'])
Exp_zh_af_df.head(5)

,Year,Algeria,Angola,Benin,Botswana,Burkina Faso,Burundi,Cote d'Ivoire,Cabo Verde,Cameroon,...,South Africa,South Sudan,Sudan,Eswatini,Togo,Tunisia,Uganda,United Rep. of Tanzania,Zambia,Zimbabwe
0,1992-01-01,27.338317,8.472850,22.190301,0.0,2.499753,3.600889,28.047720,0.161485,9.591496,...,0.0,0.0,0.0,0.0,75.323050,28.495413,7.096674,107.981108,5.372258,27.429592
1,1993-01-01,33.538298,11.206948,53.612684,0.0,9.382281,3.710646,52.190436,0.754935,6.414751,...,0.0,0.0,0.0,0.0,108.965397,28.400918,6.234554,39.507968,7.209988,8.746276
2,1994-01-01,59.800433,12.482005,30.440338,0.0,0.983517,2.643417,20.111039,0.424394,5.424568,...,0.0,0.0,0.0,0.0,97.345913,50.498380,8.724875,65.597862,9.698461,21.635196
3,1995-01-01,57.494371,21.159336,66.515894,0.0,1.578927,2.121977,50.935291,0.380342,10.118302,...,0.0,0.0,0.0,0.0,119.797475,36.270172,12.837663,74.110646,19.647379,15.284721
4,1996-01-01,54.497403,28.533705,69.882470,0.0,0.770782,0.912692,52.198185,0.274927,10.902115,...,0.0,0.0,0.0,0.0,78.570965,60.644776,7.953165,64.153804,9.710192,18.845246

In [3]:
Exp_Zh_final = Exp_zh_af_df.melt(id_vars='Year', var_name='Country', value_name='Export')

In [4]:
print(Exp_Zh_final)

           Year   Country      Export
0    1992-01-01   Algeria   27.338317
1    1993-01-01   Algeria   33.538298
2    1994-01-01   Algeria   59.800433
3    1995-01-01   Algeria   57.494371
4    1996-01-01   Algeria   54.497403
...         ...       ...         ...
1453 2014-01-01  Zimbabwe  403.801415
1454 2015-01-01  Zimbabwe  543.323040
1455 2016-01-01  Zimbabwe  387.485500
1456 2017-01-01  Zimbabwe  443.819338
1457 2018-01-01  Zimbabwe  446.070130

[1458 rows x 3 columns]

In [5]:
Exp_Zh_final.info()
print('\n')
Exp_Zh_final.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 3 columns):
Year       1458 non-null datetime64[ns]
Country    1458 non-null object
Export     1458 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 28.5+ KB

        Year  Country     Export
0 1992-01-01  Algeria  27.338317
1 1993-01-01  Algeria  33.538298
2 1994-01-01  Algeria  59.800433
3 1995-01-01  Algeria  57.494371
4 1996-01-01  Algeria  54.497403

In [25]:
Exp_Zh_final.to_csv('Exp_Zh_final.csv')

### Cleaning Chinese Imports from Africa 2002 - 2018

In [6]:
Imp_China_Africa = 'China-africa trade Data 1992-2018.xlsx'

col_string = "A:BC"

Imp_zh_af_df = pd.read_excel(Imp_China_Africa, skiprows=1, skipfooter = 6, sheet_name=1,usecols = col_string,
                             parse_dates=['Year'])
Imp_zh_af_df.head(58)

,Year,Algeria,Angola,Benin,Botswana,Burkina Faso,Burundi,Cote d'Ivoire,Cabo Verde,Cameroon,...,South Africa,South Sudan,Sudan,Eswatini,Togo,Tunisia,Uganda,United Rep. of Tanzania,Zambia,Zimbabwe
0,1992-01-01,2.696153,29.409207,0.545868,0.000000,12.778205,0.020556,2.337314,0.000000,16.041751,...,0.000000,0.000000,0.000000,0.000000,1.656731,23.396120,0.002443,0.701422,16.246522,97.903937
1,1993-01-01,6.647521,180.710462,0.007758,0.000000,0.000646,0.048613,4.185985,0.000000,0.076954,...,0.000000,0.000000,0.000000,0.000000,0.980012,30.042484,0.013490,1.149722,10.965465,51.315726
2,1994-01-01,3.768851,47.984324,0.474221,0.000000,0.000000,0.053604,3.943646,0.000000,9.138439,...,0.000000,0.000000,0.000000,0.000000,1.715888,12.291825,0.021158,9.224982,2.110612,26.183214
3,1995-01-01,22.027415,136.907302,6.119735,0.000000,0.000000,0.007504,0.437263,0.000000,27.569261,...,0.000000,0.000000,0.000000,0.000000,0.595361,35.607297,0.011428,9.598801,1.820762,36.905423
4,1996-01-01,0.011424,243.751143,1.960631,0.000000,0.000000,0.002246,9.997126,0.000000,35.030123,...,0.000000,0.000000,0.000000,0.000000,1.823044,32.317423,1.247699,19.434770,5.738977,68.462126
5,1997-01-01,0.018132,603.496146,8.778936,0.000000,0.181128,0.000000,31.707270,0.000000,98.375237,...,0.000000,0.000000,0.000000,0.000000,7.801305,22.641712,1.739525,17.622053,26.505535,74.589503
6,1998-01-01,0.124320,153.697710,3.489857,0.000000,4.258755,0.000000,24.061441,0.000000,48.645767,...,0.000000,0.000000,0.000000,0.000000,3.142798,45.788600,0.134354,9.686502,6.218218,27.866718
7,1999-01-01,62.193667,355.651156,2.422371,0.000000,1.997249,0.000000,7.927394,0.000000,76.313797,...,0.000000,0.000000,0.000000,0.000000,0.062658,28.387167,0.199560,5.743668,17.623011,44.340082
8,2000-01-01,25.937941,1842.692967,1.124856,0.010309,0.000000,1.119040,7.249300,0.000000,138.027539,...,335.189211,0.000000,0.000000,0.037289,0.062122,2.193460,0.836515,4.769732,69.390123,102.736843
9,2001-01-01,69.988286,721.828095,0.059840,0.000000,0.000000,0.002379,7.774740,0.000000,183.698792,...,461.312299,0.000000,0.000000,7.013721,0.225068,3.203986,1.236219,3.286412,35.924121,114.891888
10,2002-01-01,81.897046,1087.049343,17.005899,0.005083,0.701662,0.490731,14.131153,0.000262,114.656790,...,450.297736,0.000000,0.000000,11.089326,5.349724,38.296714,5.602695,6.619861,46.092258,159.592503
11,2003-01-01,99.216863,2205.934880,68.398282,2.175988,32.340432,1.734586,36.757706,0.000353,115.222488,...,889.147541,0.000000,0.000000,14.533067,22.113599,17.044964,3.503326,27.567111,47.881549,167.080170
12,2004-01-01,259.077512,4717.339146,111.272693,2.860708,124.111964,0.318687,108.454807,0.000000,148.905979,...,1055.745855,0.000000,0.000000,14.632978,46.471917,34.131276,11.641231,68.269085,171.104891,141.178129
13,2005-01-01,363.732733,6581.828714,139.392855,4.004099,163.266398,0.327082,85.085258,0.000000,66.753332,...,1368.724220,0.000000,0.000000,23.180995,31.873717,44.087779,20.001905,170.717677,252.062365,157.917827
14,2006-01-01,143.121609,10933.295107,89.382926,8.166108,193.312963,1.746395,125.488509,0.000344,199.662643,...,2108.756567,0.000000,0.000000,24.822266,21.598694,50.532891,17.784982,152.678108,270.356333,139.093424
15,2007-01-01,1160.931952,12888.664603,113.159474,26.435247,155.039766,0.673626,40.636513,0.000050,160.017569,...,4169.608033,0.000000,0.000000,19.332267,26.104612,30.318414,19.898324,203.599842,394.862193,142.769297
16,2008-01-01,849.219211,22382.523829,110.161584,183.913357,62.483770,0.121419,70.580413,0.000000,479.190637,...,4309.779843,0.000000,0.000000,11.279708,30.899652,90.308471,17.060339,131.588471,522.497956,148.213844
17,2009-01-01,946.619790,14675.830702,93.782107,65.286578,116.175194,0.969077,62.760509,0.000193,397.667764,...,5670.122785,0.000000,0.000000,15.107888,36.372517,107.523728,20.103286,195.968354,1272.464335,140.849822
18,2010-01-01,1177.317334,22815.049454,125.631617,53.365700,121.094433,3.458396,110.528625,0.012060,460.903575,...,8095.827240,0.000000,0.000000,2.504232,61.619158,124.900376,26.567283,406.945183,2578.407330,246.058323
19,2011-01-01,1960.886720,24922.180492,176.474574,100.667978,182.408451,13.748216,162.103105,0.012062,662.949235,...,12495.813857,0.000000,0.000000,0.343796,76.598624,219.462498,40.249339,489.896901,2775.940166,464.054686
20,2012-01-01,2311.905609,33561.896917,261.537667,119.478885,232.656312,10.677713,142.555572,0.001115,890.431771,...,10320.513921,499.465321,1554.266756,100.381091,84.811310,176.976451,42.874601,379.281002,2686.560295,584.426601
21,2013-01-01,2164.546739,31972.669347,206.006603,193.857600,186.891061,9.306831,257.133042,0.000160,366.168547,...,12047.235763,2468.344369,2100.023168,115.071552,117.943633,176.729459,71.925435,552.548245,3047.866233,687.838704
22,2014-01-01,1314.681787,31106.015046,266.630687,214.820932,123.903950,4.143095,215.998306,0.003020,688.876831,...,8770.889953,4329.242102,1521.283337,46.111006,166.441462,210.367424,111.569259,435.908180,3071.379646,836.633090
23,2015-01-01,767.362894,16001.611383,77.849434,138.734945,44.064898,2.815539,144.109478,0.022606,781.615344,...,7420.282077,2326.886670,728.393540,0.289264,214.712907,183.799263,85.583492,377.844200,1786.476269,761.400853
24,2016-01-01,331.886154,13966.117080,55.392328,62.142098,13.999131,2.736689,101.381256,0.083281,402.230109,...,6812.080906,1459.751408,504.705986,0.328349,105.331515,138.846826,37.617419,315.826807,2183.500684,726.879971
25,2017-01-01,448.323792,20698.709467,91.590374,33.548493,20.436214,6.929048,157.910000,0.008010,508.503058,...,8672.254675,1270.049729,590.797659,4.337359,73.186663,198.163138,33.412539,335.859050,3122.754433,872.029644
26,2018-01-01,1178.823679,25652.016497,48.324485,14.229756,95.735845,11.931415,254.377396,0.290464,1095.691368,...,8550.852951,1588.451879,670.034618,27.459866,145.761840,194.964649,47.167395,393.915222,4132.384530,890.332777

In [7]:
Imp_zh_final = Imp_zh_af_df.melt(id_vars='Year', var_name='Country', value_name='Import')

In [8]:
Imp_zh_final

           Year   Country      Import
0    1992-01-01   Algeria    2.696153
1    1993-01-01   Algeria    6.647521
2    1994-01-01   Algeria    3.768851
3    1995-01-01   Algeria   22.027415
4    1996-01-01   Algeria    0.011424
...         ...       ...         ...
1453 2014-01-01  Zimbabwe  836.633090
1454 2015-01-01  Zimbabwe  761.400853
1455 2016-01-01  Zimbabwe  726.879971
1456 2017-01-01  Zimbabwe  872.029644
1457 2018-01-01  Zimbabwe  890.332777

[1458 rows x 3 columns]

In [9]:
Imp_zh_final.info()
print('\n')
Imp_zh_final.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458 entries, 0 to 1457
Data columns (total 3 columns):
Year       1458 non-null datetime64[ns]
Country    1458 non-null object
Import     1458 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 28.5+ KB

        Year  Country     Import
0 1992-01-01  Algeria   2.696153
1 1993-01-01  Algeria   6.647521
2 1994-01-01  Algeria   3.768851
3 1995-01-01  Algeria  22.027415
4 1996-01-01  Algeria   0.011424

In [22]:
Imp_zh_final.to_csv('Imp_zh_final.csv')

### Cleaning US Exports from Africa 2002 - 2018

In [11]:
Exp_China_Africa = 'China-africa trade Data 1992-2018.xlsx'

col_string = "A:BB"

Exp_US_af_df = pd.read_excel(Exp_China_Africa, skiprows=1, skipfooter = 6, sheet_name =2, usecols=col_string, parse_dates=['Year'])
Exp_US_af_df['Year'] = pd.DatetimeIndex(Exp_US_af_df['Year']).year
Exp_US_af_df.set_index('Year')
.head(56)

,Year,Algeria,Angola,Benin,Botswana,Burkina Faso,Burundi,Cote d'Ivoire,Cabo Verde,Cameroon,...,South Africa,South Sudan,Sudan,eSwatini,Togo,Tunisia,Uganda,United Rep. of Tanzania,Zambia,Zimbabwe
0,1992,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1993,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1995,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,1996,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,1997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,1998,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,1999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,2000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,2001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,2002,984.433116,372.459685,35.171871,31.700742,18.779746,1.713981,76.160664,9.644187,155.808203,...,2524.551793,0.000000,0.000000,11.469937,13.793399,195.158120,22.887171,62.315267,35.735439,49.343296
11,2003,487.123695,491.680878,30.243843,25.857966,10.954137,2.966057,102.797113,9.119074,90.756446,...,2820.770868,0.000000,0.000000,8.222889,15.174281,170.504899,42.721306,65.714495,19.342938,41.685480
12,2004,972.124024,594.193292,44.906926,54.007626,21.983310,17.363721,117.921336,50.969205,99.559018,...,3172.002379,0.000000,0.000000,12.361240,23.659791,258.094445,63.740314,127.628231,26.399404,47.297131
13,2005,1160.934454,927.879940,70.820138,67.330171,24.928079,7.498808,123.860635,9.871825,117.057346,...,3881.729310,0.000000,0.000000,11.867648,27.758728,260.716592,62.486856,96.363821,29.093155,44.703730
14,2006,1101.823722,1550.235993,115.537358,26.891085,18.104296,6.523474,147.512469,13.619116,120.065633,...,4461.683813,0.000000,0.000000,12.091430,108.563531,362.817632,53.201665,160.666715,51.633652,47.583947
15,2007,1652.508920,1280.156687,289.410571,53.858469,33.139512,6.930327,161.607837,5.571564,132.920223,...,5517.219922,0.000000,0.000000,29.002898,287.594314,403.055050,80.348803,173.986966,69.394927,105.241269
16,2008,1243.239469,2116.986519,846.232810,62.177868,24.492570,7.278372,254.106319,12.247224,125.049470,...,6494.696126,0.000000,0.000000,12.120383,117.125699,502.520071,88.525002,169.338435,78.704324,92.883748
17,2009,1108.769026,1422.873066,398.336998,93.254655,26.003754,8.697102,206.242360,6.387428,153.641764,...,4460.551713,0.000000,0.000000,14.574775,124.884361,502.110895,119.081883,158.124320,58.817708,85.480699
18,2010,1194.325446,1293.490947,462.534820,48.496947,46.587532,14.386303,162.845207,9.975829,132.270395,...,5631.633573,0.000000,0.000000,22.178798,157.620745,572.780850,93.513814,163.499769,56.415126,67.565121
19,2011,1596.975135,1503.222549,617.574838,44.273591,33.260220,32.788844,131.405294,11.462670,220.567654,...,7271.228395,0.000000,0.000000,20.075203,209.689039,597.007683,94.038056,260.183381,129.784635,61.598378
20,2012,1363.163393,1490.579464,572.964557,47.983957,47.276772,19.939674,188.087985,7.765222,253.043417,...,7552.736463,32.540784,55.491290,40.226860,370.550165,614.865677,100.125293,245.389981,146.788830,53.478276
21,2013,1848.703921,1443.438524,605.364254,82.090829,77.598603,16.711425,167.576533,9.134281,335.737087,...,7293.059705,13.417224,88.268450,22.674774,1007.523845,870.178082,122.740389,411.953494,141.148845,60.525718
22,2014,2616.993205,2039.125048,780.951521,52.866146,72.304388,5.598770,239.079267,7.283602,301.070473,...,6368.196133,46.614515,77.177678,25.717762,1024.663768,831.402374,78.262341,302.170048,114.121914,48.699474
23,2015,1875.734479,1166.161667,631.462518,39.041970,53.875343,5.650192,0.000000,7.321660,224.961698,...,5458.228360,19.613532,59.514997,28.521751,311.819809,602.412017,88.315069,172.803054,84.170835,37.834783
24,2016,2191.230000,1251.280000,235.130000,42.430000,35.390000,8.410000,291.260000,8.690000,189.770000,...,4605.160000,0.000000,55.490000,25.610000,229.440000,537.010000,69.060000,157.570000,81.630000,30.060000
25,2017,1059.840617,809.444868,250.135870,93.045279,60.978397,8.132760,319.964133,9.146393,158.845783,...,5020.030746,13.574310,69.654352,24.073435,481.810854,543.575125,107.869624,145.242068,85.137108,39.926035
26,2018,1261.067304,525.185650,254.193813,81.908861,59.499908,14.547966,309.432880,8.560372,193.228289,...,5517.377246,23.460993,95.298955,33.393894,642.288039,597.607230,87.488073,331.906936,195.379265,33.737878

In [ ]:
Exp_US_af_df['Annual Total'] = Exp_US_af_df.sum(axis = 1)

In [12]:
Exp_US_Final = Exp_US_af_df.melt(id_vars='Year', var_name='Country', value_name='Export')

In [13]:
Exp_US_Final

      Year   Country     Export
0     1992   Algeria   0.000000
1     1993   Algeria   0.000000
2     1994   Algeria   0.000000
3     1995   Algeria   0.000000
4     1996   Algeria   0.000000
...    ...       ...        ...
1426  2014  Zimbabwe  48.699474
1427  2015  Zimbabwe  37.834783
1428  2016  Zimbabwe  30.060000
1429  2017  Zimbabwe  39.926035
1430  2018  Zimbabwe  33.737878

[1431 rows x 3 columns]

In [23]:
Exp_US_Final.to_csv('Exp_US_Final.csv')

### Cleaning US Imports from Africa 2002 - 2018

In [15]:
Exp_China_Africa = 'China-africa trade Data 1992-2018.xlsx'

col_string = "A:BB"

Imp_US_af_df = pd.read_excel(Exp_China_Africa, skiprows=1, skipfooter = 5, sheet_name = 3, usecols=col_string, parse_dates=['Year'])
Imp_US_af_df['Year'] = pd.DatetimeIndex(Imp_US_af_df['Year']).year
Imp_US_af_df.set_index('Year')
Imp_US_af_df.head(55)

,Year,Algeria,Angola,Benin,Botswana,Burkina Faso,Burundi,Cote d'Ivoire,Cabo Verde,Cameroon,...,South Africa,South Sudan,Sudan,Swaziland,Togo,Tunisia,Uganda,United Rep. of Tanzania,Zambia,Zimbabwe
0,1992,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1993,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,1995,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,1996,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,1997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,1998,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,1999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,2000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,2001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,2002,2559.958018,3275.340837,0.787546,30.197590,2.936925,0.490731,14.131153,0.000262,114.656790,...,1268.765741,0.000000,0.000000,11.089326,5.349724,38.296714,5.602695,6.619861,46.092258,159.592503
11,2003,5126.393366,4506.200910,0.682952,14.221041,0.950995,1.734586,36.757706,0.000353,115.222488,...,1839.993225,0.000000,0.000000,14.533067,22.113599,17.044964,3.503326,27.567111,47.881549,167.080170
12,2004,7926.487865,4796.799975,1.637298,74.230525,0.611538,0.318687,108.454807,0.000000,148.905979,...,2960.203427,0.000000,0.000000,14.632978,46.471917,34.131276,11.641231,68.269085,171.104891,141.178129
13,2005,10834.884759,8846.505259,0.572742,179.674438,2.162331,0.327082,85.085258,0.000000,66.753332,...,3443.051908,0.000000,0.000000,23.180995,31.873717,44.087779,20.001905,170.717677,252.062365,157.917827
14,2006,16088.929738,12174.574006,0.633475,253.609829,1.055460,1.746395,125.488509,0.000344,199.662643,...,4085.358057,0.000000,0.000000,24.822266,21.598694,50.532891,17.784982,152.678108,270.356333,139.093424
15,2007,18431.957978,12925.965219,5.120940,188.838181,1.517733,0.673626,40.636513,0.000050,160.017569,...,6618.094263,0.000000,0.000000,19.332267,26.104612,30.318414,19.898324,203.599842,394.862193,142.769297
16,2008,20032.288952,19497.727584,32.832685,219.713381,0.634359,0.121419,70.580413,0.000000,479.190637,...,9234.972954,0.000000,0.000000,11.279708,30.899652,90.308471,17.060339,131.588471,522.497956,148.213844
17,2009,11150.475831,9703.060917,0.474194,132.737536,2.233077,0.969077,62.760509,0.000193,397.667764,...,8693.253033,0.000000,0.000000,15.107888,36.372517,107.523728,20.103286,195.968354,1272.464335,140.849822
18,2010,14943.690199,12273.944969,0.301185,170.456077,2.411557,3.458396,110.528625,0.012060,460.903575,...,14896.422261,0.000000,0.000000,2.504232,61.619158,124.900376,26.567283,406.945183,2578.407330,246.058323
19,2011,14912.502640,13833.012040,2.018589,294.171881,3.654053,13.748216,162.103105,0.012062,662.949235,...,32095.190401,0.000000,0.000000,0.343796,76.598624,219.462498,40.249339,489.896901,2775.940166,464.054686
20,2012,10201.299947,10030.264550,2.752231,221.682016,2.364088,10.677713,142.555572,0.001115,890.431771,...,44653.737210,499.465321,1554.266756,100.381091,84.811310,176.976451,42.874601,379.281002,2686.560295,584.426601
21,2013,4960.483203,8922.894861,3.220919,278.322662,6.218871,9.306831,257.133042,0.000160,366.168547,...,48388.425446,2468.344369,2100.023168,115.071552,117.943633,176.729459,71.925435,552.548245,3047.866233,687.838704
22,2014,4794.597266,5837.752018,5.534069,323.786091,6.294335,4.143095,215.998306,0.003020,688.876831,...,44571.243678,4329.242102,1521.283337,46.111006,166.441462,210.367424,111.569259,435.908180,3071.379646,836.633090
23,2015,3537.247687,2917.054295,5.111324,220.334339,3.643774,8.682662,1061.613873,2.285327,142.887504,...,7441.353516,0.200076,9.565339,22.848025,14.806789,563.431984,66.576686,108.299680,48.580609,69.000482
24,2016,3418.755000,2976.766000,7.273000,444.441000,5.132000,6.789000,1200.548000,4.173000,161.063000,...,6903.496000,0.000000,15.406000,17.444000,11.471000,403.851000,53.967000,151.572000,47.108000,24.407000
25,2017,3986.752401,2686.483195,18.113626,784.464150,5.163661,9.119187,1256.358009,3.536771,126.053645,...,7893.714586,0.291587,13.934741,20.815808,15.329479,476.829130,81.604761,127.213730,66.554291,48.445588
26,2018,4781.629382,2768.924982,19.438582,468.880702,5.206121,14.182596,1291.959912,3.709164,229.265683,...,8649.734976,0.021080,16.578293,13.705609,13.785407,668.713009,71.509075,99.398433,190.841843,79.062467

In [16]:
Imp_US_final = Imp_US_af_df.melt(id_vars='Year', var_name='Country', value_name='Import')

In [17]:
Imp_US_final

      Year   Country      Import
0     1992   Algeria    0.000000
1     1993   Algeria    0.000000
2     1994   Algeria    0.000000
3     1995   Algeria    0.000000
4     1996   Algeria    0.000000
...    ...       ...         ...
1426  2014  Zimbabwe  836.633090
1427  2015  Zimbabwe   69.000482
1428  2016  Zimbabwe   24.407000
1429  2017  Zimbabwe   48.445588
1430  2018  Zimbabwe   79.062467

[1431 rows x 3 columns]

In [18]:
Imp_US_final.describe()

              Year        Import
count  1431.000000   1431.000000
mean   2005.000000    610.937352
std       7.791604   2885.509821
min    1992.000000      0.000000
25%    1998.000000      0.000000
50%    2005.000000      2.233077
75%    2012.000000    115.147020
max    2018.000000  48388.425446

In [24]:
Imp_US_final.to_csv('Imp_US_final.csv')