In [1]:
import pandas as pd

In [2]:
#Read US-African Export Data 1992-2018
US_Exp = pd.read_csv('Exp_US_Final.csv', parse_dates=['Year'])

#Read Chinese-African Export Data 1992-2018
ZH_Exp = pd.read_csv('Exp_ZH_final.csv', parse_dates=['Year'])


#Read US-African Import Data 1992-2018
US_Imp = pd.read_csv('Imp_US_finalâ€‹.csv', parse_dates=['Year'])


#Read Chinese-African Import Data 1992-2018
ZH_Imp = pd.read_csv('Imp_ZH_final.csv', parse_dates=['Year'])

In [3]:
file = [US_Exp, ZH_Exp, US_Imp, ZH_Imp]

In [4]:
for csv in file:
    csv['Year'] = pd.DatetimeIndex(csv['Year']).year
    csv = csv.drop(['Unnamed: 0'], axis=1)
    display(csv.head(10))
    print('\n')

   Year  Country  Export
0  1992  Algeria     0.0
1  1993  Algeria     0.0
2  1994  Algeria     0.0
3  1995  Algeria     0.0
4  1996  Algeria     0.0
5  1997  Algeria     0.0
6  1998  Algeria     0.0
7  1999  Algeria     0.0
8  2000  Algeria     0.0
9  2001  Algeria     0.0

   Year  Country      Export
0  1992  Algeria   27.338317
1  1993  Algeria   33.538298
2  1994  Algeria   59.800433
3  1995  Algeria   57.494371
4  1996  Algeria   54.497403
5  1997  Algeria  112.960682
6  1998  Algeria  116.785836
7  1999  Algeria  159.952713
8  2000  Algeria  172.916756
9  2001  Algeria  222.226410

   Year  Country  Import
0  1992  Algeria     0.0
1  1993  Algeria     0.0
2  1994  Algeria     0.0
3  1995  Algeria     0.0
4  1996  Algeria     0.0
5  1997  Algeria     0.0
6  1998  Algeria     0.0
7  1999  Algeria     0.0
8  2000  Algeria     0.0
9  2001  Algeria     0.0

   Year  Country     Import
0  1992  Algeria   2.696153
1  1993  Algeria   6.647521
2  1994  Algeria   3.768851
3  1995  Algeria  22.027415
4  1996  Algeria   0.011424
5  1997  Algeria   0.018132
6  1998  Algeria   0.124320
7  1999  Algeria  62.193667
8  2000  Algeria  25.937941
9  2001  Algeria  69.988286

In [5]:
US_Exp.head(20)

    Unnamed: 0  Year  Country       Export
0            0  1992  Algeria     0.000000
1            1  1993  Algeria     0.000000
2            2  1994  Algeria     0.000000
3            3  1995  Algeria     0.000000
4            4  1996  Algeria     0.000000
5            5  1997  Algeria     0.000000
6            6  1998  Algeria     0.000000
7            7  1999  Algeria     0.000000
8            8  2000  Algeria     0.000000
9            9  2001  Algeria     0.000000
10          10  2002  Algeria   984.433116
11          11  2003  Algeria   487.123695
12          12  2004  Algeria   972.124024
13          13  2005  Algeria  1160.934454
14          14  2006  Algeria  1101.823722
15          15  2007  Algeria  1652.508920
16          16  2008  Algeria  1243.239469
17          17  2009  Algeria  1108.769026
18          18  2010  Algeria  1194.325446
19          19  2011  Algeria  1596.975135

In [6]:
exports = [ZH_Exp, US_Exp]
for ex in exports:
    ex_pivot =  ex.pivot_table(values = 'Export', index ='Year', columns = 'Country')
    display(ex_pivot)

Country,Algeria,Angola,Benin,Botswana,Burkina Faso,Burundi,Cabo Verde,Cameroon,Central African Rep.,Chad,...,Somalia,South Africa,South Sudan,Sudan,Togo,Tunisia,Uganda,United Rep. of Tanzania,Zambia,Zimbabwe
Year,,,,,,,,,,,,,,,,,,,,,
1992,27.338317,8.472850,22.190301,0.000000,2.499753,3.600889,0.161485,9.591496,0.161294,0.624011,...,5.238430,0.000000,0.000000,0.000000,75.323050,28.495413,7.096674,107.981108,5.372258,27.429592
1993,33.538298,11.206948,53.612684,0.000000,9.382281,3.710646,0.754935,6.414751,3.216817,0.185694,...,0.670261,0.000000,0.000000,0.000000,108.965397,28.400918,6.234554,39.507968,7.209988,8.746276
1994,59.800433,12.482005,30.440338,0.000000,0.983517,2.643417,0.424394,5.424568,0.199182,1.414804,...,1.778532,0.000000,0.000000,0.000000,97.345913,50.498380,8.724875,65.597862,9.698461,21.635196
1995,57.494371,21.159336,66.515894,0.000000,1.578927,2.121977,0.380342,10.118302,0.983557,2.376779,...,0.312430,0.000000,0.000000,0.000000,119.797475,36.270172,12.837663,74.110646,19.647379,15.284721
1996,54.497403,28.533705,69.882470,0.000000,0.770782,0.912692,0.274927,10.902115,2.276617,1.166501,...,0.458690,0.000000,0.000000,0.000000,78.570965,60.644776,7.953165,64.153804,9.710192,18.845246
1997,112.960682,29.128511,109.725192,0.000000,1.570354,0.386525,0.405394,12.545366,0.835271,1.030031,...,0.477408,0.000000,0.000000,0.000000,69.248049,74.649425,9.927608,84.881872,10.682875,28.173857
1998,116.785836,36.653028,153.539431,0.000000,5.135100,2.086245,1.960845,18.904876,1.059302,0.152414,...,0.177701,0.000000,0.000000,0.000000,59.081123,83.977193,10.778507,69.973042,22.116379,104.776494
1999,159.952713,16.363697,162.832794,0.000000,1.375864,1.459922,3.141087,20.135541,1.007528,0.238706,...,0.487231,0.000000,0.000000,0.000000,70.268639,97.358557,10.631500,63.928042,8.381682,27.243567
2000,172.916756,33.735509,370.411970,11.474089,2.958020,3.626745,5.178211,22.632650,0.342819,0.621691,...,0.997429,1013.645537,0.000000,0.000000,80.370027,96.721924,14.403852,85.762932,32.861862,31.915928
2001,222.226410,45.721834,520.456565,14.231542,4.060183,1.155449,2.212932,29.310772,0.567341,0.283181,...,1.115490,1048.574038,0.000000,0.000000,108.752148,106.154706,16.240307,90.146794,38.835925,33.264697
2002,351.904803,61.310901,420.854521,18.977534,5.817989,2.227060,1.839369,43.971021,0.687468,1.711992,...,1.832705,1310.634541,0.000000,0.000000,138.472186,144.113413,28.059393,121.419167,37.190958,32.160853
2003,645.937433,145.791215,471.061511,22.769682,11.710170,3.444756,2.596097,64.934989,2.127308,1.679609,...,3.903103,2029.363726,0.000000,0.000000,262.540288,183.844350,51.388917,191.471331,34.875032,30.265722
2004,980.519345,193.517905,577.262340,49.541361,12.335119,4.814095,2.746211,100.016605,3.323713,5.939125,...,9.522379,2951.903935,0.000000,0.000000,398.654101,245.090012,76.427060,215.972260,51.042489,113.063202
2005,1404.420063,372.793946,952.951911,58.513171,16.135433,11.889091,5.187788,129.872521,7.087933,14.932194,...,16.566621,3825.965079,0.000000,0.000000,538.094710,295.537058,79.366340,303.581718,48.495054,125.369781
2006,1947.514487,894.185633,1452.096313,61.781657,19.346382,10.178765,10.094090,191.146750,1.692692,14.142811,...,27.577799,5767.709102,0.000000,0.000000,704.014682,357.545310,137.801795,382.773080,102.525357,136.292517
2007,2741.975093,1234.518651,1975.914634,119.879176,43.690931,13.034353,16.826488,299.055977,8.865449,69.660382,...,26.658317,7444.900447,0.000000,0.000000,1376.504344,491.797511,202.945426,602.968612,198.265136,203.346668
2008,3751.909956,2942.469756,2314.114926,169.151779,46.193300,17.682014,14.953954,379.283504,11.295054,79.929858,...,40.338653,8617.621625,0.000000,0.000000,1218.236519,696.860678,230.100406,950.438907,264.347745,133.099999
2009,4180.239032,2385.960008,1952.662272,165.398425,42.682161,33.987913,35.405032,415.875564,12.731811,148.898472,...,67.308550,7365.588491,0.000000,0.000000,1129.801167,711.180932,231.172136,914.052483,152.029661,156.284658
2010,3999.998875,2003.872576,2273.677526,369.503020,47.955572,33.360723,34.335093,540.793114,22.857138,308.491015,...,72.231573,10799.862041,0.000000,0.000000,1333.109917,994.893386,257.526058,1253.126610,301.675540,315.862808
2011,4471.882142,2784.153366,2874.684516,616.161511,55.618684,42.543830,49.751685,874.108906,14.271013,94.803479,...,91.208549,13362.300051,0.000000,0.000000,1831.410255,1112.727084,359.381703,1653.631731,617.335086,410.277768
2012,5416.657169,4039.171270,2413.661597,182.121037,72.506291,46.459684,57.490473,1064.318496,17.683659,172.778203,...,101.106740,15323.311517,34.311988,2178.613756,3383.142225,1391.786110,495.142823,2089.721998,697.306484,430.483815
2013,6023.897368,3964.058933,2992.476675,148.251952,103.387365,50.962328,61.996094,1514.678715,9.458993,371.892564,...,133.760551,16830.776066,75.086952,2398.431681,2443.222437,1263.158664,452.212523,3140.702390,729.692436,413.825611
2014,7395.238411,5975.306809,3485.978743,176.149428,117.971937,51.602365,51.223198,1877.424982,7.211752,317.710145,...,206.079161,15699.145579,66.078709,1928.609202,2491.912045,1235.774285,486.645734,3843.566338,725.665688,403.801415
2015,7583.347042,3717.145883,2989.072543,224.841273,123.836631,40.088753,43.300195,1833.294503,13.518226,123.549950,...,298.118241,15857.921952,155.445271,2394.502823,2180.165797,1237.428731,553.400101,4278.864540,552.068957,543.323040
2016,7647.851142,1680.398624,2039.435616,209.573218,140.997482,45.047488,48.671438,1557.030056,15.462731,93.572312,...,391.942642,12849.507644,46.253291,2129.730001,1919.246636,1295.839939,823.682295,3566.861307,489.913911,387.485500
2017,6784.746250,2257.453225,1926.508591,232.699710,183.049294,45.252632,69.239870,1388.611486,12.962438,115.364034,...,473.500499,14808.766628,51.942094,2221.759883,1886.345956,1327.986910,777.367201,3119.554166,709.467936,443.819338
2018,7923.382278,2234.927773,2150.684993,281.472273,223.340681,36.904080,78.050126,1706.516747,18.782986,185.528743,...,637.244475,16337.354355,77.076432,1884.771032,1991.476579,1415.923926,706.399878,3590.574198,969.452299,446.070130

Country,Algeria,Angola,Benin,Botswana,Burkina Faso,Burundi,Cabo Verde,Cameroon,Central African Rep.,Chad,...,South Africa,South Sudan,Sudan,Togo,Tunisia,Uganda,United Rep. of Tanzania,Zambia,Zimbabwe,eSwatini
Year,,,,,,,,,,,,,,,,,,,,,
1992,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1993,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1995,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1996,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1997,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1998,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2001,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2002,984.433116,372.459685,35.171871,31.700742,18.779746,1.713981,9.644187,155.808203,6.371301,127.340130,...,2524.551793,0.000000,0.000000,13.793399,195.158120,22.887171,62.315267,35.735439,49.343296,11.469937
2003,487.123695,491.680878,30.243843,25.857966,10.954137,2.966057,9.119074,90.756446,7.422470,64.374425,...,2820.770868,0.000000,0.000000,15.174281,170.504899,42.721306,65.714495,19.342938,41.685480,8.222889
2004,972.124024,594.193292,44.906926,54.007626,21.983310,17.363721,50.969205,99.559018,30.011885,40.422416,...,3172.002379,0.000000,0.000000,23.659791,258.094445,63.740314,127.628231,26.399404,47.297131,12.361240
2005,1160.934454,927.879940,70.820138,67.330171,24.928079,7.498808,9.871825,117.057346,14.717003,53.752155,...,3881.729310,0.000000,0.000000,27.758728,260.716592,62.486856,96.363821,29.093155,44.703730,11.867648
2006,1101.823722,1550.235993,115.537358,26.891085,18.104296,6.523474,13.619116,120.065633,25.088871,60.253873,...,4461.683813,0.000000,0.000000,108.563531,362.817632,53.201665,160.666715,51.633652,47.583947,12.091430
2007,1652.508920,1280.156687,289.410571,53.858469,33.139512,6.930327,5.571564,132.920223,19.747922,71.107491,...,5517.219922,0.000000,0.000000,287.594314,403.055050,80.348803,173.986966,69.394927,105.241269,29.002898
2008,1243.239469,2116.986519,846.232810,62.177868,24.492570,7.278372,12.247224,125.049470,23.302776,62.515460,...,6494.696126,0.000000,0.000000,117.125699,502.520071,88.525002,169.338435,78.704324,92.883748,12.120383
2009,1108.769026,1422.873066,398.336998,93.254655,26.003754,8.697102,6.387428,153.641764,31.485494,62.698757,...,4460.551713,0.000000,0.000000,124.884361,502.110895,119.081883,158.124320,58.817708,85.480699,14.574775
2010,1194.325446,1293.490947,462.534820,48.496947,46.587532,14.386303,9.975829,132.270395,10.339636,89.670008,...,5631.633573,0.000000,0.000000,157.620745,572.780850,93.513814,163.499769,56.415126,67.565121,22.178798
2011,1596.975135,1503.222549,617.574838,44.273591,33.260220,32.788844,11.462670,220.567654,12.335446,35.450336,...,7271.228395,0.000000,0.000000,209.689039,597.007683,94.038056,260.183381,129.784635,61.598378,20.075203
2012,1363.163393,1490.579464,572.964557,47.983957,47.276772,19.939674,7.765222,253.043417,8.515840,36.551674,...,7552.736463,32.540784,55.491290,370.550165,614.865677,100.125293,245.389981,146.788830,53.478276,40.226860
2013,1848.703921,1443.438524,605.364254,82.090829,77.598603,16.711425,9.134281,335.737087,4.103350,41.460707,...,7293.059705,13.417224,88.268450,1007.523845,870.178082,122.740389,411.953494,141.148845,60.525718,22.674774
2014,2616.993205,2039.125048,780.951521,52.866146,72.304388,5.598770,7.283602,301.070473,32.322366,66.499541,...,6368.196133,46.614515,77.177678,1024.663768,831.402374,78.262341,302.170048,114.121914,48.699474,25.717762
2015,1875.734479,1166.161667,631.462518,39.041970,53.875343,5.650192,7.321660,224.961698,34.309874,56.591528,...,5458.228360,19.613532,59.514997,311.819809,602.412017,88.315069,172.803054,84.170835,37.834783,28.521751
2016,2191.230000,1251.280000,235.130000,42.430000,35.390000,8.410000,8.690000,189.770000,9.420000,32.820000,...,4605.160000,0.000000,55.490000,229.440000,537.010000,69.060000,157.570000,81.630000,30.060000,25.610000
2017,1059.840617,809.444868,250.135870,93.045279,60.978397,8.132760,9.146393,158.845783,11.178603,31.338485,...,5020.030746,13.574310,69.654352,481.810854,543.575125,107.869624,145.242068,85.137108,39.926035,24.073435
2018,1261.067304,525.185650,254.193813,81.908861,59.499908,14.547966,8.560372,193.228289,9.881566,52.659158,...,5517.377246,23.460993,95.298955,642.288039,597.607230,87.488073,331.906936,195.379265,33.737878,33.393894

In [8]:
exports = [ZH_Exp, US_Exp]
for ex in range(len(exports)):
    ex_pivot =  ex.pivot_table(values = 'Export', index ='Year', columns = 'Country')
    display(ex_pivot)

AttributeError: 'int' object has no attribute 'pivot_table'